{% extends 'home_templates/home.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Profile Details</h3>
                {% if object.profile.goal.exists %}
                    <a href="{% url 'diet-tracker' %}" class="btn btn-success">
                        Diet Tracker
                    </a>
{#                {% if object.profile.goal.exists %}#}
                    <a href="{% url 'goal-detail' object.profile.goal.last.pk %}" class="btn btn-success">
                        View Goal
                    </a>
                {% else %}
                    <a href="{% url 'goal-create' %}" class="btn btn-success">
                        Set Goal
                    </a>
                {% endif %}
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        {% if object.profile.profile_picture %}
                            <img src="{{ object.profile.profile_picture.url }}" alt="Profile Picture"
                                 class="img-fluid rounded-circle shadow" style="max-width: 250px;">
                        {% else %}
                            <img src="https://via.placeholder.com/250" alt="Default Profile Picture"
                                 class="img-fluid rounded-circle shadow">
                        {% endif %}
                    </div>

                    <div class="col-md-8">
                        <h4 class="text-primary">{{ object.profile.get_full_name }}</h4>
                        <p><strong>Email:</strong> {{ object.profile.user.email }}</p>
                        <p><strong>Date of Birth:</strong>
                            {% if object.profile.date_of_birth %}
                                {{ object.profile.date_of_birth }}
                            {% else %}
                                Not provided
                            {% endif %}
                        </p>
                        <p><strong>Activity Level:</strong> {{ object.profile.goal.last.get_activity_display }}</p>
                        <p><strong>Goal Type:</strong> {{ object.profile.goal.last.get_goal_type_display }}</p>
                        <p><strong>Calories per day:</strong> {{ object.profile.goal.last.daily_calories }}</p>
                    </div>
                </div>
            </div>

            <div class="card-footer text-right">
                <a href="{% url 'profile-edit' object.profile.pk %}" class="btn btn-primary">
                    Edit Profile
                </a>
            </div>

        </div>
    </div>
{% endblock %}
